/** 颜色 */
$color-background = #111214
$color-text = #727273
$color-active = rgb(220, 40, 40)

/** 字体 */
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
