/** 颜色 */
$color-background-d = #060709
$color-background = #111214
$color-background-l = #161719
$color-text = #838484
$color-text-l = #9A9B9C
$color-active = rgb(220, 40, 40)

/** 字体 */
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
