/** 颜色 */
$color-background-d = #060709
$color-background = #111214
$color-background-l = #161719
$color-text = #838484
$color-text-l = #9A9B9C
$color-text-ll = #ACADAE
$color-text-lll = #CCCDCE
$color-active = rgb(220, 40, 40)
$color-mask = rgba(2,4,6,.8)
/** 字体 */
$font-size-small-sss = 6px
$font-size-small-ss = 8px
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

/**icon**/
$font-icon-size-small = 15px
$font-icon-size-medium = 25px
$font-icon-size-large = 30px
$font-icon-size-large-x= 40px
